body {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	background-color: #f9f9f9;

}

.clearfix {
	clear: both;
}
.container {
	width: 1060px;
	margin: 0 auto;
	padding: 0 45px 60px;
	box-sizing: border-box;
	box-shadow: 0 -3px 5px rgba(0, 0, 0, .3);
	border-right: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	padding-top: 50px;
	background-color: #ffffff;
}

/* ---------Header----------------*/
.header {
	margin: 0 0 40px 0px;
}

.logo {
	display: inline-block;
	margin: 0 0 40px 0px;
}

.logo img {
	width: 145px;
	height: 40px;
}

.main-nav {
	margin: 0 0 0 0px;
	padding: 0;
	height: 40px;
	background: rgba(94,94,94,1); /* CREATED IN http://www.cssmatic.com */
	background: -webkit-linear-gradient(rgba(94,94,94,1) 0%, rgba(81,81,81,1) 48%, rgba(69,68,68,0.99) 98%, rgba(68,67,67,0.99) 100%);
	background: -o-linear-gradient(rgba(94,94,94,1) 0%, rgba(81,81,81,1) 48%, rgba(69,68,68,0.99) 98%, rgba(68,67,67,0.99) 100%);
	background: linear-gradient(rgba(94,94,94,1) 0%, rgba(81,81,81,1) 48%, rgba(69,68,68,0.99) 98%, rgba(68,67,67,0.99) 100%);
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#444343', GradientType=0); */ 
	/* CSS валидатор выдает ошибку - Свойство progid не существует : DXImageTransform */
	}	

.main-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	line-height: 40px;
	float: left;
}

.main-nav li a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	padding: 0 35px;	
}

.main-nav li a.active {
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	box-sizing: border-box; 
	background: rgba(74,74,74,1); /* CREATED IN http://www.cssmatic.com */
	background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(0%, rgba(73,73,73,1)), color-stop(35%, rgba(66,66,66,1)), color-stop(66%, rgba(53,53,53,1)), color-stop(100%, rgba(46,46,46,1)));
	background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2e2e2e', GradientType=0 ); */
	/* CSS валидатор выдает ошибку - Свойство progid не существует : DXImageTransform */	/* CSS валидатор выдает ошибку - Свойство progid не существует : DXImageTransform */
}

.main-nav li a:hover {
	box-sizing: border-box;
	background: rgba(74,74,74,1); /* CREATED IN http://www.cssmatic.com */
	background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(0%, rgba(73,73,73,1)), color-stop(35%, rgba(66,66,66,1)), color-stop(66%, rgba(53,53,53,1)), color-stop(100%, rgba(46,46,46,1)));
	background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(73,73,73,1) 0%, rgba(66,66,66,1) 35%, rgba(53,53,53,1) 66%, rgba(46,46,46,1) 100%);
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2e2e2e', GradientType=0 ); */
	/* CSS валидатор выдает ошибку - Свойство progid не существует : DXImageTransform */	/* CSS валидатор выдает ошибку - Свойство progid не существует : DXImageTransform */	
}
/* ---------End Header----------------*/

/* ---------Main----------------*/

/* --------left-side block ----------*/
.left-side{
	width: 245px;
	float: left;

}

.left-side-menu {
	border: 1px solid #c8c8c8;
	padding: 0;
	margin: 0;


}

.left-side-menu li {
	border-bottom: 1px solid #c8c8c8;
	list-style: none;
	margin: 0;
	height: 40px;



}

.left-side-menu li:last-child {
	border-bottom: 0;
}

.left-side-menu li a {
	text-decoration: none;
	display: block;
	line-height: 40px;
	padding-left: 35px;
	background-color: #ffffff; 
	color: #656363; /* text color */
	font-family: "OpenSans", sans-serif;
	font-size: 13px;	
}

.left-side-menu li a:hover {
	text-decoration: none;
	display: block;
	line-height: 40px;
	padding-left: 50px;
	background-color: #f9f9f9; 
	color: #2c2c2c; /* text color */
	font-family: "OpenSans", sans-serif;
	font-size: 13px;	
}

/* --------End left-side block ----------*/

/* --------right-side block ----------*/

.right-side{
	width: 680px;
	float: right;
}

.image-block {
	width: 680px;
	height: 400px;
	border: 1px solid #c7c7c7;
	box-sizing: border-box;
}

.main-image {
	width: 500px;
	height: 307px;
	display: block; /* только с block работает горизонт. центрирование  margin 0 auto */ 
	margin: 46px auto 0; /* центрируем по горизонтали (auto), по вертикали margin */
}

.text {
	padding: 40px 20px 60px 20px;
	color: #2c2b2b; 
	font-family: "OpenSans", sans-serif;
	font-size: 13px;

}

/*---------End of right-side block -------*/

/* ---------End of Main----------------*/


/* ---------Footer----------------*/
.footer-nav {
	height: 40px;
	margin: 0;
	padding: 0 25px 0;
	background-color: #fff; /* CREATED IN http://www.cssmatic.com *//* CREATED by css hat */
	background-image: -moz-linear-gradient(bottom, #e1e1e1 0%, #e1e1e1 100%); /* color overlay + gradient overlay */
	background-image: -o-linear-gradient(bottom, #e1e1e1 0%, #e1e1e1 100%); /* color overlay + gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #e1e1e1 0%, #e1e1e1 100%); /* color overlay + gradient overlay */
	background-image: linear-gradient(bottom, #e1e1e1 0%, #e1e1e1 100%); /* color overlay + gradient overlay */
}
	
.footer-nav li {
	margin-right: 95px;
	padding: 0;
	float: left;
	list-style: none;
	display: inline-block;
}

.footer-nav li:last-child {
	margin: 0;
	float: right;
	width: 300px;
	text-align: right;

}
.footer-nav li a {
	line-height: 40px;
	text-decoration: none;
	color: #2c2c2c; 
	font-family: "OpenSans", sans-serif;
	font-size: 13px;	
}

.footer-nav li a.active {
	text-decoration: underline;
}

.footer-nav li a:hover {
	color: #2b207e;
}

/*---------End of Footer------------*/


